 
PROJECT_ID=your-gcp-project-id-here
TOPIC_ID=healthcare-appointments
RAW_TABLE_ID=your-project-id.healthcare_dataset.raw_appointments
ANALYTICS_TABLE_ID=your-project-id.healthcare_dataset.analytics_appointments
REGION=us-central1